# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
storybook-static

# Environment
.env
.env.*
!.env.example

# Testing
coverage
playwright-report

# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log* 
*storybook.log

# Storybook build output
storybook-static/

# 3rd party
vendors/
